# -------------------------
# Ignore secrets and sensitive files
# -------------------------
/etc/secrets.env
/etc/credentials.json
/etc/token.json

# Ignore generated local configuration files
/etc/db_config.local.json
/etc/db_config.local.php

# -------------------------
# Ignore virtual environments
# -------------------------
/venv/
*/venv/
/.venv/

# ignore coverage
/.coverage

# -------------------------
# Ignore binaries and scripts directories (if not versioned)
# -------------------------
bin/
*/bin/

# -------------------------
# Ignore POC / demo code
# -------------------------
/poc

# -------------------------
# Python caches and compiled files
# -------------------------
__pycache__/
*/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
*/.pytest_cache/

# -------------------------
# Ignore init files if needed
# -------------------------
*/__init__.pyc
*/__init__.py

# -------------------------
# Optional: logs or temporary files
# -------------------------
*.log
*.tmp
*.swp

