[submodule "dayswherecondition"]
	path = dayswherecondition
	url = git@github.com:billoven/dayswherecondition.git
[submodule "WeatherAlerts"]
	path = WeatherAlerts
	url = git@github.com:billoven/WeatherAlerts.git
[submodule "weatherDBscripts"]
	path = weatherDBscripts
	url = git@github.com:billoven/weatherDBscripts.git
[submodule "weathermetrics"]
	path = weathermetrics
	url = git@github.com:billoven/weathermetrics.git
